<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
  <h2> Pizza Shop </h2>
  <nav>
    <a href="/pizza_orders">All Orders |</a>
    <a href="/pizza_orders/new">New Order ||</a>
  </nav>
  <%= yield %>
</body>
</html>
